body{    
    overflow-x : hidden;
    background-color: rgb(221, 208, 208);
}

a{
    color: inherit;
    text-decoration: none;
    display: block;
}

form{
    text-align: center;
}

.logout{
    margin: 1.5% 0% 1% auto;
    transition: 1s 0s ease;
}

.header{
    background-color: rgb(15, 189, 15);
    color: white;
    padding : 0.5%;
    overflow: auto;
    display: flex;
}

.header  h2{
    padding-top: 1%;
}

.header  img{
    margin-left: 1%;
    width: 65px;
    height: 75px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar{
    float: left;
    border-top: 4px solid yellow;
    border-bottom: 4px solid yellow;
    width: 20%;
    color : white;
    background-color: #333;
    height: auto;
    min-height: 700px;
}

.sidebar h3{
    padding-top: 3%;
    text-align: center;
}

.sidebar img{
    border-radius: 100%;
    width: 65%;
    height: 65%;
    padding : 5%;
}

li > a{
    padding : 5%;
    transition: 1s 0s ease;
}

.pad-0{
    padding: 0;
    margin : 0;
}

li > a:hover{
    text-decoration: none;
    background-color: rgb(32, 30, 30);
    color: wheat;
    font-size: 18px;
    transition: 1s 0s ease;
}

li > p{
    background-color: white;
    color: black;
    margin : 0;
    padding : 5%;
    
}

.konten{
    background-color: rgb(221, 208, 208);
    min-height: 700px;
    height: auto;
    width: auto;
}

.wrapper{
    border-radius: 5px;
    margin : 1%;
    padding : 1%;
    background-color: white;
    width: auto;
    height: auto;
    min-height: 650px;
    font-size: 13px;
}

.footer{
    background-color: rgb(15, 189, 15);
    padding : 0.5%;
    text-align: center;
    color: white;
}

table{
    text-align: center;
}

table .btn{
    font-size: 10px;
}

.nav-second-level{
    display: none;
    background-color: rgb(31, 29, 29);
    box-shadow: 0 0 4px black;
    transition: 1s 0s ease;
}

.nav-second-level>li>a{
    padding-left: 20px;
    transition: 1s 0s ease;
}

.nav-second-level>li>a:hover{
    padding-left: 40px;
    transition: 1s 0s ease;
}


.nav-first-level:hover .nav-second-level{
    display: block;
    transition: 1s 0s ease;
}

.login{
    border : 0.5px solid rgb(230, 216, 216);
    min-height: 100px;
    text-align: center;
    margin: 100px 400px;
    padding: 0;
    position: relative;
    animation: login 1.5s 0s ease;
}

.login > img{
    padding : 10px
}

.judul-login{
    background-color: rgb(7, 201, 7);
    color: white;
    border-bottom: 0.5px solid rgb(230, 216, 216);
    padding : 10px;
    margin : 0;
}

.form-login{
    margin : 40px;  
}

.form-login input{
    padding : 5px;
}

.wrap-input{
    padding: 0;
    margin: 0;
}

.wrap-input > input, .wrap-input > select{
    border: 0.5px solid turquoise;
    padding: 2%;
    width: 25%;
    transition: 1s 0s ease;
}

.wrap-input > i{
    padding: 2.3%;

}

.wrap-input > input:focus, .wrap-input > select:focus{
    background-color: rgb(223, 204, 204);
    width: 40%;
    transition: 1s 0s ease;
}

.btn-login{
    width: 20%;
    transition: 1s 0s ease;
}

.btn-login:hover{
    width: 30%;
    transition: 1s 0s ease;
}

.margin-card{
    margin : 2%;
}

.padding-card{
    padding: 2%;
}

.card a{
    border-top: 1px solid white ;
    padding : 7%;
    text-decoration: none;
    color : white;
}

#float-right{
    float: right;
}

#note{
    font-size: 10px !important;
    color: red;
}

@keyframes login{
    from{
        top : -800px;
    }
    to{
        top : 0;
    }
}